.header {
  height: 44px;
  background-color: #27272a;
  padding: 10px 20px;
  border: 1px solid #414144;

  .navigation {
    display: flex;
    column-gap: 28px;

    &__item {
      color: #a1a1aa;
    }

    &__item_active {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 14px;
    }
  }
}
